.header-color {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*position: fixed;
  top: 0;*/
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .5;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.project-grid {
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.project-grid h1 {
  /*position: fixed;
  top: 0;*/
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
  color: #c9d6ff;
}

.project-grid p {
  /*position: fixed;
  top: 0;*/
  font-size: 19px;
  color: rgba(0, 230, 0, 0.5);
}

.project-cell {
  border-color: #DBDBDB;
  border-radius: 10px;
  border-style: dotted;
  border-width: thin;
}

.project-cell a {
  font-size: 19px;
  color: #56CCF2;
}

.aboutme-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.aboutme-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

.aboutme-grid h2 {
  font-family: 'Anton',sans-serif;
}

.aboutme-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.aboutme-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.aboutme-list i{
  font-size: 66px;
  padding-right: 5rem;
}


.resume-right-col {
  background: #27221F;
  color: white;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.education-grid h4 {
  padding-top: 0em;
}
